body{
    font-family: 'Franklin Gothic Book';
    margin: 0;
    align-items: center;
    background-color: black;
    color:aliceblue;
}
/*body*/
#card2{
    border-left: 5px solid rgb(128, 55, 128);
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
}
/*carrossel*/
.galery {
    background-color: whitesmoke;
    overflow: hidden;
}
/*carrossel fotos*/
.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
/*carrossel fotos*/
.galery .fotos img {
    width: 19.9%;
    background-color: whitesmoke;

}
/*aside*/
#aside {
    padding-left: 10px;
    font-size: 20px;
}
/*veja*/
.veja {
    display: flex;
}
/*main*/
.main {
    display: flex;
}
/*veja img*/
.vejaimg {
    width: 200px;
    height: 100px;
}
#bolota {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.imagemfimlese {
    width: 250px;
    height: 155px;
}
.cardfilmeserie {
    border-left: 5px solid;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    display: flex;
    width: 60%;
}