body{
    font-family: 'Franklin Gothic Book';
    margin: 0;
    align-items: center;
}
/*carrossel*/
.galery {
    width: 1280px;
    height: 1000px;
    background-color: whitesmoke;
    overflow: hidden;
}
.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.galery .fotos img {
    width: 19.9%;
    background-color: whitesmoke;

}
#aside {
    padding-left: 10px;
    font-size: 20px;
}
.veja {
    display: flex;
}
.main {
    display: flex;
}
.vejaimg {
    width: 200px;
    height: 100px;
}