body{
    background-color: #03001C;
    color: aliceblue;
}
/*carrossel*/
.galery {
    width: 640px;
    height: 360px;
    background-color: whitesmoke;
    overflow: hidden;
}
.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.galery .fotos img {
    width: 19.9%;

}
