<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link href="../layouts/header.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <a href="#" class="logo">
                <img id="logo" src="../assets/images/vexxtvlogo.png" alt="logo do site">
            </a>
            <nav>
                <ul class="dropdown">
                    <li><a class="dropbtn" href="#" target="">home</a></li>
                    <li><a href="#">menu</a></li>
                    <li><a href="#">sobre nós</a></li>
                    <li><a href="#">contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>