<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link href="../layouts/header.css" rel="stylesheet">
</head>
<!-- Body -->
<body>
    <!-- Header -->
    <header>
        <!-- Div do Header -->
        <div class="container">
            <!-- Logo -->
            <a href="../index.html" class="logo">
                <img id="logo" src="../assets/images/vexxtvlogo.png" alt="logo do site" arget="_parent">
            </a>
            <!-- Navegação -->
            <nav>
                <!-- DropDown Menu -->
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                      <a href="../index.html">Home</a>
                      <a href="modelos/sobrenos.html" target="_parent">Sobre Nós</a>
                      <a href="modelos/contato.html" arget="_parent">Contato</a>
                      <a href="modelos/feedback.html" arget="_parent">Feedback</a>
                    </div>
                  </div>
                  <!-- Login/Signup -->
                  <button class="dropbtn dropdown" arget="_parent">Login/Signup</button>
            </nav>
        </div>
    </header>
</body>

</html>