body {
  background-color: black;
  margin: 0%;
  text-decoration: none;
  font-family: dubai medium;
}

header {
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.anav {
  color: white;
  text-decoration: none;
  display: block;
  font-family: 'dubai medium';
  text-align: center;
}

.logo {
  width: 64px;
  height: 64px;
  margin-top: 5px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0%;
  text-decoration: none;
}

li {
  margin-left: 50px;
  text-align: center;
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

li:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

#menu {
  margin: 0;
}
#off{
  text-decoration: none;
  color: white;
}
