/* Body */
body{
  margin: 0;
  font-family: 'dubai medium';
}
/* Header */
header{
  background-color: black;
  color: #fff;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}
/* Countainer Logo */
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*nav*/
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li{
  margin: 0 10px;
}
nav a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}
nav a:hover{
  color: #07b5ff;
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
}
nav a:active{
  color: #36abf4
}
/* Logo */
#logo{
  width: 128px;
  height: 128px;
}
/* Style do button Dropdown*/
.dropbtn {
  background-color: black;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'dubai medium';
}
.dropbtn:hover{
  color: #07b5ff;
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
}
/* div do dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Conteudo do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links dentro do dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 100;
}
/* Hover da lista do dropdown */
.dropdown-content a:hover {
  background-color: #bababa;
}
/* Mostra o Menu do dropdwon */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Hover do Dropdown */
.dropdown:hover .dropbtn {
  background-color: rgb(56, 53, 53);
  border-radius: 5px;
}