h1{
text-align: center;
padding: 0;
font-size:40px;
color: rgb(124, 227, 227);
}
body{
 margin: 0; 
 padding: 0;
 background-color: black;
}
.filmes{
width: 250px;
height: 300px;
}
.filmes:hover{
    float: right;
}
.series{
 width: 250px;
 height: 300px;
}
