<!DOCTYPE html>
<html lang="pt_BR">
	<head>
		<meta charset="UTF-8">
		<title>Contato</title>
		<link rel="stylesheet" href="../modelos/contato.css">
	</head>
	<body>
		<iframe src="../layouts/header.html" frameborder="0" scrolling="no" width="100%" margin="0px"></iframe>
			<div class="card">
			<div class="card__inner">
				<div class="card__face card__face--front">
				<div class="signin">
					<form action="../../layouts/modelos/contatologin.html"></form>
					<h2>Registrar</h2>
					<div class="form">
					<input type="email" placeholder="Email" required>
					<input type="text" placeholder="Usuário" required>
					<input type="password" placeholder="Senha" required>
					<input type="password" placeholder="Confirme sua senha" required>
			</div>
				<button onclick="signin()">Entrar</button>
			<div class="member">
				Ainda não tem uma conta? 
					<a class="flip">Criar agora</a>
			</div>
		</div>
	</div>

				<div class="card__face card__face--back">
				<div class="signup">
					<h2>Seja membro</h2>
					<div class="form">
					<input type="text" placeholder="Usuário" required>
					<input type="email" placeholder="Email" required>
					<input type="password" placeholder="Senha" required>
					<input type="password" placeholder="Repetir Senha" required>
			</div>
					<button onclick="signup()">Criar conta</button>
					<div class="member">
					Já tem uma conta? 
					<a class="flip">Entrar agora</a>
				</div>
			</div>
		</div>
	</div>
</div>
                 <iframe id="footer" src="../layouts/footer.html" frameborder="0" scrolling="no" width="100%"></iframe>
	</body>
</html>
