body {
    font-family: 'Franklin Gothic Book';
    margin: 0;
    text-align: center;
}

#seçao {
    display: flex;
    font-family: 'Franklin Gothic Demi';
}

#texto {
    padding: 10px;
}

.card2 {
    border-left: 25px solid rgb(128, 55, 128);
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    display: flex;
}

.card1 {
    border-left: 25px solid rgb(128, 55, 128);
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    display: flex;
}

#comentarius1 {
    width: 60%;
}