<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="detalhes1.css">
    <link rel="shortcut icon" href="../../assets/images/logotitico.png" type="image/x-icon">
    <title>Comentarios</title>
</head>

<body>
    <iframe href="../header.html" frameborder="0" scrolling="no"></iframe>
    <div id="tituloinicio">
        <h1>nfojvnjvkdj</h1>
    </div>
    <p>filme, ano de lançamento, classificação, duração</p>
    </div>
    <div id="info">
        <div id="poster">
            <section>
                <img id="capa" src="./imagensmodelo/DP_6554044_Morbius_1920x2560_AMAZON_thumbnail_xlarge_0.jpg">
            </section>
        </div>
        <div id="trailer">
            <!--colocar "embed" no link e tirar o "watch"-->
            <iframe src="https://www.youtube.com/embed/S55qvOKW5T0" frameborder="0" width="600" height="340"></iframe>
        </div>
    </div>
    <div id="coco">
        <h1>onde assistir</h1>
        <ul id="onde">
            <div>
                <img src="../../assets/images/vexxlogo.png" alt="a" class="ondeass">
                <li>fshygsef</li>
            </div>
            <div>
                <img src="../../assets/images/vexxlogo.png" alt="a" class="ondeass">
                <li>fshygsef</li>
            </div>
            <div>
                <img src="../../assets/images/vexxlogo.png" alt="a" class="ondeass">
                <li>fshygsef</li>
            </div>
    </div>
    <iframe href="../footer.html" frameborder="0" scrolling="no"></iframe>
</body>

</html>