<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="detalhes1.css">
    <link rel="shortcut icon" href="../../assets/images/logotitico.png" type="image/x-icon">
    <title>Comentarios</title>
</head>

<body>
    <h1>FILME</h1>
    <!--Area dos filmes-->
    <div>
        <div class="card1">
            <!--Filme 1-->
            <section class="cardfilme">
                <!--Imagen do filme  1-->
                <img id="filmes" src="../../assets/images/DP_6554044_Morbius_1920x2560_AMAZON_thumbnail_xlarge_0.jpg"
                    alt="morbius">
            </section>
        </div>
        <a href="../../index.html" target="_blank" rel="noopener noreferrer" class="link">
        <div class="card1">
           
                <section id="review">
                    <!--Breve resumo com opnião-->

                    <img class="pfp" src="./imagensmodelo/placeholder2.png">
                </section>

                <p class="seçaotxt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi,
                    explicabo
                    dolorem consectetur possimus dolore porro voluptas totam. Architecto quod a distinctio
                    maxime,
                    laboriosam vitae tenetur eaque quasi saepe magnam.lorem nisi. Culpa? Lorem ipsum, dolor sit
                    amet
                    consectetur adipisicing elit. Accusantium dicta
                    amet
                    numquam doloribus est repellendus eius quae aspernatur nesciunt, fugit iure maiores! Minus
                    quisquam
                    velit voluptatum nihil fugit, sed maiores! Lorem ipsum dolor sit amet consectetur
                    adipisicjsbcbsuxbsbx.
                    Animi totam culpa fugit ducimus ab repellat voluptatum odio ullam voluptatibus provident est
                    eum,
                    veritatis ratione fugiat illo rem! Vel, sint recusandae.Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Quod at, sunt eum laboriosam placeat

                    consectetur adipisicing elit. Accusantium dicta
                    amet
                    autem aperiam neque in praesentium, iste dolorum a cupiditat
                </p>
                </section>
                <section id="notadomano">
                    <h1>
                        NOTA
                    </h1>
                    <p>3/10</p>
                </section>
            
        </div>
        </a>
    </div>
    </section>
    <!--Area de comentarios-->
    <div id="sinopse">
        <p id="seçaotxt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi,
            explicabo
            dolorem consectetur possimus dolore porro voluptas totam. Architecto quod a distinctio
            maxime,
            laboriosam vitae tenetur eaque quasi saepe magnam.lorem nisi. Culpa? Lorem ipsum, dolor sit
            amet
            consectetur adipisicing elit. Accusan</p>
    </div>
    <!--seção notas-->
    <h2>NOTAS</h2>
    <section id="nota">
        <!--notas-->
        <h4>NOTA VEXX:96%</h4>
        <h4>NOTA PUBLICA:89%</h4>
    </section>
    </article>
</body>

</html>