/*body*/
body {
    font-family: 'Franklin Gothic Book';
    margin: 0;
    text-align: center;
}
/*seções*/
#seçao {
    display: flex;
    font-family: 'Franklin Gothic Demi';
}
/*textos*/
#texto {
    padding: 10px;
    font-family: 'Franklin Gothic Demi';
}
/*card dos filmes*/
.cardfilme {
    border-left:25px solid  #301E67;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    margin: 40px;
    padding-right: 80px;
    display: flex;
    width: auto;

}
/*card's principais*/
.card1 {
    border-left:25px solid  #301E67;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    display: flex;

}
/*comentarios*/
#comentarius1 {
    width: 60%;
}
/*img filmes*/
#filmes {
    width: 300%;
}
/*seção dos textos*/
#seçaotxt {
    font-family: 'Franklin Gothic Demi';
    text-align: justify;
    border-left: 25px solid #301E67;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
}
/*seção das notas*/
#nota {
    display: flex;
    justify-content: center;

}
/*notas*/
h4 {
    margin-left: 20px;
}