<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="detalhes1.css">
    <link rel="shortcut icon" href="../../assets/images/logo.png" type="image/x-icon">
    <title>Comentarios</title>
</head>

<body>
    <!--Area de comentarios-->
    <h1>Comentarios</h1>
    <div>
        <div class="card1">
            <article>
                <section id="seçao">
                    <!--Imagen da pessoa que esta comentando-->
                    <img id="comentarius1" src="../../assets/images/logo.png">
                    <!--Comentario-->
                    <p id="texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi, explicabo
                        dolorem consectetur possimus dolore porro voluptas totam. Architecto quod a distinctio maxime,
                        laboriosam vitae tenetur eaque quasi saepe magnam.lorem nisi. Culpa? Lorem ipsum, dolor sit amet
                        consectetur adipisicing elit. Accusantium dicta
                        amet
                        numquam doloribus est repellendus eius quae aspernatur nesciunt, fugit iure maiores! Minus
                        quisquam
                        velit voluptatum nihil fugit, sed maiores! Lorem ipsum dolor sit amet consectetur
                        adipisicjsbcbsuxbsbx.
                        Animi totam culpa fugit ducimus ab repellat voluptatum odio ullam voluptatibus provident est
                        eum,
                        veritatis ratione fugiat illo rem! Vel, sint recusandae.Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit. Quod at, sunt eum laboriosam placeat
                        doloribus, deserunt veniam autem aperiam neque in praesentium, iste dolorum a cupiditat
                    </p>
                </section>
            </article>
        </div>
    </div>
    <h1>FILME</h1>
    <!--Area dos filmes-->
    <div>
        <div class="card1">
            <article>
                <section id="seçao">
                    <!--Filme 1-->
                    <section class="cardfilme">
                        <!--Imagen do filme  1-->
                        <img id="filmes"
                            src="../../assets/images/DP_6554044_Morbius_1920x2560_AMAZON_thumbnail_xlarge_0.jpg" alt="morbius">
                    </section class="card1">
                    <section>
                        <!--Breve resumo com opnião-->
                        <p id="seçaotxt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi,
                            explicabo
                            dolorem consectetur possimus dolore porro voluptas totam. Architecto quod a distinctio
                            maxime,
                            laboriosam vitae tenetur eaque quasi saepe magnam.lorem nisi. Culpa? Lorem ipsum, dolor sit
                            amet
                            consectetur adipisicing elit. Accusantium dicta
                            amet
                            numquam doloribus est repellendus eius quae aspernatur nesciunt, fugit iure maiores! Minus
                            quisquam
                            velit voluptatum nihil fugit, sed maiores! Lorem ipsum dolor sit amet consectetur
                            adipisicjsbcbsuxbsbx.
                            Animi totam culpa fugit ducimus ab repellat voluptatum odio ullam voluptatibus provident est
                            eum,
                            veritatis ratione fugiat illo rem! Vel, sint recusandae.Lorem ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Quod at, sunt eum laboriosam placeat
                            doloribus, deserunt veniam autem aperiam neque in praesentium, iste dolorum a cupiditat
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi, explicabo
                            dolorem consectetur possimus dolore porro voluptas totam. Architecto quod a distinctio
                            maxime,
                            laboriosam vitae tenetur eaque quasi saepe magnam.lorem nisi. Culpa? Lorem ipsum, dolor sit
                            amet
                            consectetur adipisicing elit. Accusantium dicta
                            amet
                            numquam doloribus est repellendus eius quae aspernatur nesciunt, fugit iure maiores! Minus
                            quisquam
                            velit voluptatum nihil fugit, sed maiores! Lorem ipsum dolor sit amet consectetur
                            adipisicjsbcbsuxbsbx.
                            Animi totam culpa fugit ducimus ab repellat voluptatum odio ullam voluptatibus provident est
                            eum,
                            veritatis ratione fugiat illo rem! Vel, sint recusandae.Lorem ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Quod at, sunt eum laboriosam placeat
                            doloribus, deserunt veniam autem aperiam neque in praesentium, iste dolorum a cupiditat
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi, explicabo
                            dolorem consectetur possimus dolore porro voluptas totam. Architecto quod a distinctio
                            maxime,
                            laboriosam vitae tenetur eaque quasi saepe magnam.lorem nisi. Culpa? Lorem ipsum, dolor sit
                            amet
                            consectetur adipisicing elit. Accusantium dicta
                            amet
                            numquam doloribus est repellendus eius quae aspernatur nesciunt, fugit iure maiores! Minus
                            quisquam
                            velit voluptatum nihil fugit, sed maiores! Lorem ipsum dolor sit amet consectetur
                            adipisicjsbcbsuxbsbx.
                            Animi totam culpa fugit ducimus ab repellat voluptatum odio ullam voluptatibus provident est
                            eum,
                            veritatis ratione fugiat illo rem! Vel, sint recusandae.Lorem ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Quod at, sunt eum laboriosam placeat
                            doloribus, deserunt veniam autem aperiam neque in praesentium, iste dolorum a cupiditat
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi, explicabo
                            dolorem consectetur possimus dolore porro voluptas totam. Architecto quod a distinctio
                            maxime,
                            laboriosam vitae tenetur eaque quasi saepe magnam.lorem nisi. Culpa? Lorem ipsum, dolor sit
                            amet
                            consectetur adipisicing elit. Accusantium dicta
                            amet
                            numquam doloribus est repellendus eius quae aspernatur nesciunt, fugit iure maiores! Minus
                            quisquam
                            velit voluptatum nihil fugit, sed maiores! Lorem ipsum dolor sit amet consectetur
                            adipisicjsbcbsuxbsbx.
                            Animi totam culpa fugit ducimus ab repellat voluptatum odio ullam voluptatibus provident est
                            eum,
                            veritatis ratione fugiat illo rem! Vel, sint recusandae.Lorem ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Quod at, sunt eum laboriosam placeat
                            doloribus, deserunt veniam autem aperiam neque in praesentium, iste dolorum a cupiditat
                        </p>
                    </section>
                </section>
            </article>
        </div>
    </div>
</body>

</html>