body{
    font-family: 'dubai medium'
}
ul{
    display: flex;
    padding-left: 30px;
    text-decoration: none;
    list-style: none;
}
#info{
    display: flex;
    justify-content: center;
}
#capa{
    width: 265px;
    height: 340px;
    margin: 0%;
}
#paizao{
    justify-content: center;
}
#onde{
    display:flex;
    width: 3px;
    height: 2px;
}
.ondeass {
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
li {
    margin-left: 5px;
    text-align: center;
    padding: 10px;
}