<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="enem.css">
    <link rel="shortcut icon" href="../../assets/images/vexxtvlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/animacao.css">
    <title>Enem</title>
</head>

<body>
    <iframe href="../header.html" frameborder="0" scrolling="no"></iframe>
    <div id="tituloinicio">
        <h1>Enem</h1>
    </div>
    <p>Filmes e Series que iram te ajudar na hora da redação</p>
    </div>
    <main class="main">
        <section class="galery">
            <div class="fotos">
                <a href="layouts/modelos/detalhes1.html" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/images/placeholder2.png" alt="placeholder2">
                </a>
                <a href="layouts/modelos/enem.html" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/images/placeholder2.png" alt="enem">
                </a>
                <a href="layouts/modelos/filmes.html" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/images/placeholder2.png" alt="placeholder2">
                </a>
                <a href="layouts/modelos/contato.html" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/images/placeholder2.png" alt="placeholder2">
                </a>
            </div>
        </section>
        <aside id="card2">
            <h2>noticia 3</h2>
            <p class="materia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim
                temporibus
                voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
                debitis suscipit totam repudiandae soluta!
            </p>
            <h2>noticia 2</h2>
            <p class="materia">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim temporibus
                voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
                debitis suscipit totam repudiandae soluta!
            </p>
            <h2>noticia 1</h2>
            <p class="materia">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim temporibus
                voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
                debitis suscipit totam repudiandae soluta!
            </p>
        </aside>
    </main>
    <div id="card2">
        <h2>noticia 3</h2>
        <p class="materia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim
            temporibus
            voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
            debitis suscipit totam repudiandae soluta!
        </p>
        <h2>noticia 2</h2>
        <p class="materia">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim temporibus
            voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
            debitis suscipit totam repudiandae soluta!
        </p>
        <h2>noticia 1</h2>
        <p class="materia">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim temporibus
            voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
            debitis suscipit totam repudiandae soluta!
        </p>
    </div>
    <iframe href="../footer.html" frameborder="0" scrolling="no"></iframe>
</body>

</html>