<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="enem.css">
    <link rel="shortcut icon" href="../../assets/images/vexxtvlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/animacao.css">
    <title>Enem</title>
</head>

<body>
    <iframe href="../header.html" frameborder="0" scrolling="no"></iframe>
    <div id="tituloinicio">
        <h1>Enem</h1>
    </div>
    <p>Filmes e Series que iram te ajudar na hora da redação</p>
    </div>
    <main class="main">
        <section class="galery">
            <div class="fotos">
                <a href="layouts/modelos/detalhes1.html" target="_blank" rel="noopener noreferrer">
                    <img src="./../modelos/imagensmodelo/gabarito-enem-2022-3.jpeg" alt="placeholder2">
                </a>
                <a href="layouts/modelos/enem.html" target="_blank" rel="noopener noreferrer">
                    <img src="./../modelos/imagensmodelo/gabarito-enem-2022-3.jpeg" alt="enem">
                </a>
                <a href="layouts/modelos/filmes.html" target="_blank" rel="noopener noreferrer">
                    <img src="./../modelos/imagensmodelo/gabarito-enem-2022-3.jpeg" alt="placeholder2">
                </a>
                <a href="layouts/modelos/contato.html" target="_blank" rel="noopener noreferrer">
                    <img src="./../modelos/imagensmodelo/gabarito-enem-2022-3.jpeg" alt="placeholder2">
                </a>
            </div>
        </section>
        <aside class="asaide">
            <h1>EM ALTA</h1>
            <a href="#" class="card2">
                <div class="destaque1">
                    <img class="imagemdestaque" src="./imagensmodelo/CidadedeDeus.jpg">
                    <div class="conteudodestaque">
                        <h2>Cidade de Deus</h2>
                        <p class="materia">"Cidade de Deus" é um filme brasileiro de 2002 que retrata a vida de jovens
                            moradores da favela de mesmo nome, no Rio de Janeiro. A trama acompanha a ascensão do
                            personagem Buscapé, que tenta se afastar do crime enquanto seu amigo Dadinho se torna o
                            temido Zé Pequeno, líder do tráfico na região.
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="card2">
                <div class="destaque1">
                    <img class="imagemdestaque" src="./imagensmodelo/20028625.jpg">
                    <div class="conteudodestaque">
                        <h2>O Menino do Pijama Listrado</h2>
                        <p class="materia">"O Menino do Pijama Listrado" é um filme de 2008 que conta a história de
                            Bruno, um menino alemão que se torna amigo de Shmuel, um garoto judeu em um campo de
                            concentração nazista, sem entender as atrocidades que acontecem ao seu redor. O filme é uma
                            emocionante reflexão sobre a inocência e as consequências da ideologia de ódio.
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="card2">
                <div class="destaque1">
                    <img class="imagemdestaque" src="./imagensmodelo/Frozen_2_poster.jpeg">
                    <div class="conteudodestaque">
                        <h2>Frozen 2</h2>
                        <p class="materia">De volta à infância de Elsa e Anna, as duas garotas descobrem uma história do
                            pai, quando ainda era príncipe de Arendelle.
                        </p>
                    </div>
                </div>
            </a>
        </aside>
    </main>
    <div id="card2">
        <h2>noticia 3</h2>
        <p class="materia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim
            temporibus
            voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
            debitis suscipit totam repudiandae soluta!
        </p>
        <h2>noticia 2</h2>
        <p class="materia">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim temporibus
            voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
            debitis suscipit totam repudiandae soluta!
        </p>
        <h2>noticia 1</h2>
        <p class="materia">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, temporibus dolorum? Enim temporibus
            voluptatum esse recusandae, impedit distinctio. Voluptate laudantium, in illum provident unde quae
            debitis suscipit totam repudiandae soluta!
        </p>
    </div>
    <iframe href="../footer.html" frameborder="0" scrolling="no"></iframe>
</body>

</html>