<!DOCTYPE html>
<!--pagina inicial-->
<html>

<head>
    <meta charset="UTF-8">
    <title>Vexx Television</title>
    <link rel="icon" href="./assets/images/logotitico.png">
    <link rel="stylesheet" href="./oscar.css">
    <link rel="stylesheet" href="./assets/css/animacao.css">
    <script src="../../assets/JavaScript/oscar.js" defer></script>
</head>

<body>
    <iframe href="./layouts/header.html" frameborder="0" scrolling="no"></iframe>
    <!--slider carrosel destaques-->
    <main class="main">
        <section class="galery">
            <div class="fotos">
                <a href="layouts/modelos/detalhes1.html" target="_blank" rel="noopener noreferrer">
                    <img src="./imagensmodelo/oscars-2020.jpg" alt="placeholder2">
                </a>
                <a href="layouts/modelos/enem.html" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/enem-2018-logo1.jpg" alt="enem">
                </a>
                <a href="layouts/modelos/filmes.html" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/placeholder2.png" alt="placeholder2">
                </a>
                <a href="layouts/modelos/contato.html" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/placeholder2.png" alt="placeholder2">
                </a>
            </div>
        </section>
        <!--destaques aside-->
        <aside class="asaide">
            <h1>GANHADORES OSCAR 2023</h1>
            <a href="#" class="card2">
                <div class="destaque1">
                    <img class="imagemdestaque" src="./imagensmodelo/avatar.jpeg">
                    <div class="conteudodestaque">
                        <h2>Avatar: O Caminho da Água</h2>
                        <p class="materia">Após formar uma família, Jake Sully e Ney'tiri fazem de tudo para ficarem
                            juntos. No entanto, eles devem sair de casa e explorar as regiões de Pandora quando uma
                            antiga ameaça ressurge, e Jake deve travar uma guerra difícil contra os humanos
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="card2">
                <div class="destaque1">
                    <img class="imagemdestaque" src="./imagensmodelo/tudo-em-todo-o-lugar-ao-mesmo-tempo.jpg">
                    <div class="conteudodestaque">
                        <h2>Tudo em Todo Lugar ao Mesmo Tempo</h2>
                        <p class="materia">Uma ruptura interdimensional bagunça a realidade e uma inesperada heroína
                            precisa usar seus novos poderes para lutar contra os perigos bizarros do multiverso.
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="card2">
                <div class="destaque1">
                    <img class="imagemdestaque" src="./imagensmodelo/poster-entre-mulheres.jpg">
                    <div class="conteudodestaque">
                        <h2>Entre Mulheres</h2>
                        <p class="materia">Mulheres em uma colônia isolada lutam para se reconciliar com sua fé após
                            uma série de agressões.
                        </p>
                    </div>
                </div>
            </a>
        </aside>
    </main>
    <hr>
    <!--slider de destaques-->
    <section class="cardm">
        <h2 class="titulo-cardm">Indicados 2023</h2>
        <button class="pre-btn"><img src="./imagensmodelo/arrow.png" id="img-btn"></button>
        <button class="nxt-btn"><img src="./imagensmodelo/arrow.png" id="img-btn"></button>
        <div class="cardm-container">
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/a-baleia.jpeg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">A Baleia</h2>
                    <span class="nota">9/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/nada-de-novo-no-front.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Nada de Novo no Front.</h2>
                    <span class="nota">9/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/banshess.jpeg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Os Banshees de Inisherin</h2>
                    <span class="nota">8/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/fabelmans.jpeg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Os Fabelmans.</h2>
                    <span class="nota">9/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/tar.jpeg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Tár</h2>
                    <span class="nota">7/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/Aftersun.jpeg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Aftersun</h2>
                    <span class="nota">8/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/The_Batman_poster.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">The Batman</h2>
                    <span class="nota">8/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/Elvis2022.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Elvis</h2>
                    <span class="nota">7/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/gato-de-botas-2-o-ultimo-pedido.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Gato de Botas 2: O Último Pedido</h2>
                    <span class="nota">9/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/red.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Red: Crescer é uma Fera</h2>
                    <span class="nota">7/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/Pinóquio.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Pinóquio</h2>
                    <span class="nota">9/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/PanteraNegra.webp">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Pantera Negra: Wakanda Para Sempre</h2>
                    <span class="nota">8/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/babylon-poster.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Babilônia</h2>
                    <span class="nota">7/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/tudooqrespira.jpeg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Tudo o que Respira</h2>
                    <span class="nota">9/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/Top_Gun_Maverick.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Top Gun: Maverick</h2>
                    <span class="nota">8/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/sra-harris-vai-a-paris-2.jpeg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Sra. Harris Vai a Paris</h2>
                    <span class="nota">7/10</span>
                </div>
            </div>
            <div class="cardm-card">
                <div class="cardm-image">
                    <img class="poster-thumb" src="./imagensmodelo/TriângulodaTristeza.jpg">
                </div>
                <div class="cardm-info">
                    <h2 class="cardm-nome">Triângulo da Tristeza</h2>
                    <span class="nota">7/10</span>
                </div>
            </div>
        </div>
    </section>
    <!--footer-->
    <iframe href="./layouts/footer.html" frameborder="0" scrolling="no"></iframe>
</body>

</html>